* {
    /* border: 2px solid rgb(82, 204, 21); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.4;
    font-size: 1rem;
    /* font-weight: 600; */
    color: rgb(56, 55, 55);

}



html,
body {
    /* height: calc(100%); */
    /* border: 2px solid black; */
    background-color: rgb(244, 241, 241);
    background-color: #f0eff5;




}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(40, 116, 239);
    color: rgb(238, 235, 230);
    margin-bottom: 10px;
    padding: 20px;
}

.peace{
    color: rgb(245, 241, 241);
    font-size: 1.2rem;
    padding: 4px;
    margin-top: 20px;
    margin: auto;
}
header span {
    font-size: 1.5rem;

}


.header-content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* max-width: 1200px; */
    width: calc(100% - 2px);
    /* margin: 0 auto; */
    /* border: 2px solid rgb(255, 238, 0); */
    flex-grow: 1;

}


@media(max-width:400px){

    header{
        padding: 10px 20px;
        width: 400px;

    }
    .header-content{
        flex-direction: column;
        gap: 12px;
        justify-content: center;
    }
}

.site-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.site-title span {
    color: #FFD700;
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #FFD700;
    color: black;
}



















.container {
    /* height:100vh; */
    border: 2px solid rgba(40, 116, 239, 0.952);
    font-size: 1rem;
    width: 400px;
    height: 86vh;
    overflow-y: auto;
    margin: auto;
    border-radius: 3px;
    position: relative;
}

.nav-section{
    /* border: 1px solid red; */
    background-color: #b3c0f3;
    background-color: rgba(40, 116, 239, 0.934);

    padding: 7px;
    position:sticky;
    top: 0;
}

.sticky{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    
   
}

.sticky span{
    color: rgb(247, 242, 242);
    cursor: pointer;

}


.container span{
    margin-left: 10px;
}



.container::-webkit-scrollbar {
    width: 0px; 
    height: 6px; /* Sets the scrollbar height */
}

.container::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid transparent; /* Adds space around thumb */
    background-clip: padding-box; /* Ensures transparency works */
}


iframe::-webkit-scrollbar {
    width: 0px; 
}


iframe{
    width: 100%;
    color: rgb(28, 28, 27);
    
    /* border: 1px solid red; */
    /* height: 100vh; */
}


.surahSection,.parah{
    display: none;
    transition-duration: 300ms;

}

.activeBtn{
    display: flex;
    transition-duration: 10ms;
    border-bottom: 1px solid rgba(191, 213, 247, 0.934);

}
